@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  margin: 1em;
}

* {
  box-sizing: border-box;
} */
/* .shirts {
  width: 10em;
}
.product {
  gap: 1em;
  display: grid;
  margin: 2em;
}
.productName {
  font-weight: bold;
  margin: 1em;
} */
